# Dependencies
/node_modules

# Log files
*.log

# Logs
moz-todo-react/logs
moz-todo-react/*.log
moz-todo-react/npm-debug.log*
moz-todo-react/yarn-debug.log*
moz-todo-react/yarn-error.log*
moz-todo-react/pnpm-debug.log*
moz-todo-react/lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# yarn
moz-todo-react/.pnp.*
moz-todo-react/.yarn/*
!moz-todo-react/.yarn/patches
!moz-todo-react/.yarn/plugins
!moz-todo-react/.yarn/releases
!moz-todo-react/.yarn/sdks
!moz-todo-react/.yarn/versions

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
